.buttonLogin {
    margin-top: 10px !important;
}

.buttonContinueGuest {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.buttonRegister {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .buttonLogin {
    }

    .buttonContinueGuest {
        margin-left: 1px !important;
    }

    .buttonRegister {
        margin-left: 1px !important;
    }
}
